<section class="new-post">
    <button type="submit" class="btn" id="create-new-post">+ NEW POST</button>
</section>
<br>
{{#if posts.length}}
<section>
    <h2>Your Dashboard</h2>
    <div class="postlists">
        {{#each posts as |post|}}
        {{> post-info post }}
        <a href="/dashboard/edit/{{post.id}}" class="edit-link" id="edit-post">Edit Post</a>
    </div>
    {{/each}}
</section>
{{/if}}

<script src="/js/addPost.js"></script>